<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/datatable/dataTables.bootstrap4.min.css}"/>
    <link rel="stylesheet" th:href="@{/fontawesome-free/css/all.css}">
    <script th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/datatable/jquery.dataTables.min.js}"></script>
    <script th:src="@{/datatable/dataTables.bootstrap4.min.js}"></script>
</head>
<body>
<section class="container">
    <div class="my-3">
        <h2 class="text-center">Registration Form</h2>
    </div>
    <form th:action="@{/registration}" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" class="form-control" type="text" name="name" placeholder="Name" required>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" class="form-control" type="email" name="email" placeholder="Email" required>
        </div>

        <div class="form-group">
            <label for="userName">User Name</label>
            <input id="userName" class="form-control" type="text" name="userName" placeholder="User Name" required>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" class="form-control" type="password" name="password" placeholder="Password" required>
        </div>

        <div class="form-group float-right">
            <a class="btn btn-warning mr-1" th:href="@{/}">Cancel</a>
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</section>
</body>
</html>